---
import logo from '../../../public/logo.svg'
---

<nav
    class="w-full h-[5.5rem] px-[8.25rem] flex items-center justify-between fixed top-0 left-0 z-50 bg-[#f6f6f6] py-6"
>
    <div class="flex flex-col items-center justify-center">
        <img src={logo} alt="lomas gym logo" id="logo" />
        <span class="text-xs"
            >Las Heras 646 - Lomas de Zamora - Buenos Aires</span
        >
    </div>
    <ul class="flex justify-between gap-[4.375rem]">
        <li class="text-lg font-bold">
            <a id="activities" class="cursor-pointer">Actividades</a>
        </li>
        <li class="text-lg font-bold">
            <a id="horarios" class="cursor-pointer">Horarios</a>
        </li>
        <li class="text-lg font-bold">
            <a id="precios" class="cursor-pointer">Precios</a>
        </li>
        <li class="text-lg font-bold">
            <a id="servicios" class="cursor-pointer">Servicios</a>
        </li>
    </ul>
    <!-- <button class="bg-[#FF7A00] rounded-lg px-10 py-2 text-white tracking-wider"
        >Unete</button
    > -->
    <div class="flex items-center gap-6">
        <button
            class="text-lg font-medium border border-[#A63A01] rounded-lg px-10 py-1 tracking-wider"
        >
            <a href="/auth/login" class="">Login</a>
        </button>
        <button
            class="bg-[#A63A01] rounded-lg px-10 py-2 text-white tracking-wider"
            >Registro</button
        >
    </div>
</nav>

<script>
    const logo = document.getElementById('logo')

    const handleRedirect = () => {
        window.location.href = '/'
    }

    logo?.addEventListener('click', handleRedirect)

    const activitiesLink = document.getElementById('activities')
    const horariosLink = document.getElementById('horarios')
    const preciosLink = document.getElementById('precios')
    const serviciosLink = document.getElementById('servicios')

    activitiesLink?.addEventListener('click', () => {
        window.scrollTo({
            top: 840,
            behavior: 'smooth'
        })
    })

    horariosLink?.addEventListener('click', () => {
        window.scrollTo({
            top: 1700,
            behavior: 'smooth'
        })
    })

    preciosLink?.addEventListener('click', () => {
        window.scrollTo({
            top: 2500,
            behavior: 'smooth'
        })
    })

    serviciosLink?.addEventListener('click', () => {
        window.scrollTo({
            top: 3350,
            behavior: 'smooth'
        })
    })
</script>
