---
export interface IPricingCard {
    plan_name: string
    price: string
    benefits: string[]
}

const { plan_name, price, benefits } = Astro.props as IPricingCard
---

<article
    class="bg-white w-80 h-[500px] rounded-2xl border border-dark-blue relative"
>
    <div class="flex items-center justify-center py-10">
        <h2 class="text-4xl text-dark-blue uppercase font-semibold">
            {plan_name}
        </h2>
    </div>
    <h3
        class="bg-[#FF7A0025] h-[4.375rem] flex items-center justify-center text-3xl gap-2"
    >
        $ {price}
        <span class="text-xl font-semibold uppercase">/ Anual</span>
    </h3>
    <div class="flex items-center justify-center pt-10">
        <ul class="list-disc gap-2 flex flex-col">
            {benefits.map(benefit => <li>{benefit}</li>)}
        </ul>
    </div>
    <button
        class="border border-dark-blue w-full absolute bottom-0 rounded-b-2xl py-4 bg-dark-blue"
    >
        <span class="font-semibold uppercase text-2xl text-white"
            >Comenzar Ahora</span
        >
    </button>
</article>
