---
import ReactComponentExample from '../../../components/ReactComponentExample'
---

<div class="w-full h-screen grid place-content-center text-6xl">
    <h1>auth/register page</h1>
    <ReactComponentExample />
</div>
